For Development:
To increment the MINOR version of reader, you would do something like this:
$ bumpversion --current-version 1.0.0 minor setup.py reader/__init__.py

pip install wheel

To check contents of package: tar tzf cryptodock-sdk-0.0.1.tar.gz

To upload package:
python setup.py sdist bdist_wheel
twine upload --repository-url https://upload.pypi.org/legacy/ dist/*
or
twine upload dist/*

For Production (not for use external to CryptoDock):
pip install requests
